.loader-container {
    height: 100vh;
    background: #0f172a;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
  }
  
  .logo {
    color :blueviolet;
    font-size: 32px;
    margin-bottom: 20px;
    animation: fadeIn 2s ease-in-out;
  }
  
  .spinner {
    width: 60px;
    height: 60px;
    border: 6px solid white;
    border-top: 6px solid transparent;
    border-radius: 50%;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    100% { transform: rotate(360deg); }
  }
  
  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
  }